@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
body{
    font-family: Michroma, serif;
    background: linear-gradient(93deg, #663cd7 0%, #2b2b2b 100%);
}
p{
    color: rgb(163, 163, 163);
}
.nav-link{
    color: rgb(139, 138, 138);
}
.navbar-nav .nav-link.active {
    color: rgb(253, 255, 253);
}
.navbar-brand img{
    width: 90px;
}
.navbar-toggler{
    background-color: aliceblue;
}
.sidebar{
    color: rgb(253, 253, 253);
    background: linear-gradient(270deg, #663cd7 0%, #2b2b2b 100%);
}
.card a {
    text-decoration: none;
}
.slide-text, 
.footer-text{
    color: #b3b3b3;
    margin: auto auto;
}

footer,
.btn-outline-primary{
    background-color: #2b2b2b;
}

@media (max-width: 755px){
    .carousel-indicators{
        display: flexbox;
    }
}
.media-links{
    display: flex;
 justify-content: center;
 align-items: center;
}
.call-anim{
    animation: myAnim 2s ease 0s 999999 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}